html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #FFF;
}

.EULA {
  color: #000;
}

a {
  color: inherit;
  opacity: 1;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: "Calibre Regular";
  src: url('../fonts/Calibre-R-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibre Medium";
  src: url('../fonts/Calibre-R-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "GT Flexa";
  src: url('../fonts/GT-Flexa-Mono-Black.ttf');
  font-weight: 800;
  font-style: normal;
}

/* Global text styles */

h1 {
  font-family: "GT Flexa";
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.75px;
  margin-bottom:12px;
}

.EULA h1, .EULA h2, .EULA h3 {
  font-family: "Calibre Medium";
  letter-spacing: 0px;
  margin-bottom: 16px;
}

.EULA h1 {
  font-size: 28px;
  margin-top: 48px;
}

.EULA h2 {
  font-size: 22px;
  margin-top: 32px;
}

p {
  font-family: "Calibre Regular";
  font-size: 16px;
  line-height: 24px;
  padding: 0;
}

.subheadline {
  opacity: 0.9;
}

.footnote {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.75;
}

.apostrophe {
  letter-spacing: -8px
}

/* Background */

.background {
  background: -webkit-linear-gradient(0deg, #0B98FF 0%, #9E71FF 100%);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  top: 0px;
}

.background-texture {
  background-image: url('../public/assets/wave-bg-white.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  bottom: 0px;
}

.container {
  padding: 0 24px;
}

.container-top {
  margin-top: 136px;
}

.content-outer {
  height: 100%;
  width: 100%;
}

.content-inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.content-headers {
  margin-bottom: 32px;
}

@keyframes float {
	0% {
		transform: translatey(10px) rotate(4deg);
	}
	50% {
		transform: translatey(-10px) rotate(4deg);
	}
	100% {
		transform: translatey(10px) rotate(4deg);
	}
}

.hero-image {
  width: 100%;
  margin-top: 96px;
  margin-bottom: 104px;
}

.image-padder {
  padding: 0px;
}

.header-container {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 72px;
  background: -webkit-linear-gradient(0deg, #0B98FF 0%, #9E71FF 100%);
  z-index: 1;
}

.header-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.wave-logo {
  width: 72px;
  padding-top: 10px
}

.support-button {
  color: white;
  padding: 10px 18px;
  background: rgba(255,255,255,0);
  border-radius: 12px;
  float: right;
  font-family: "Calibre Medium";
  font-size: 14px;
  box-shadow:inset 0px 0px 0px 4px rgba(255,255,255,0.1);
  transition: 0.3s cubic-bezier(0,.8,.2,1);
}

.support-button:hover {
  color: white;
  background: rgba(255,255,255,0.2);
  box-shadow: none;
}

.copyright-footer {
  width: 100%;
  text-align: center;
  padding-top: 16px;
}

/** Breakpoints:
  Small sm  ≥576px;
  Medium  md  ≥768px;
  Large lg  ≥992px;
  Extra large xl  ≥1200px;
  Extra extra large xxl ≥1400px;
**/

@media (min-width: 576px) {

}

@media (min-width: 768px) {

  h1 {
    font-size: 44px;
    line-height: 44px;
    letter-spacing: -1.5px;
  }
  
  p {
    font-size: 18px;
    line-height: 26px;
  }

  .main-container {
    height: 100vh;
    min-height: 800px;
  }

  .container-top {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0px;
  }

  .content-outer {
    margin-bottom: 0px;
  }

  .content-headers {
    margin-bottom: 40px;
  }
  
  .footnote {
    font-size: 14px;
    line-height: 20px;
  }

  .hero-image {
    width: 100%;
    animation: float 6s ease-in-out infinite;
    margin-top: 0;
    margin-bottom: 0;
  }

  .copyright-footer {
    position: fixed;
    bottom: 0;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2px;
  }
  
  p {
    font-size: 20px;
    line-height: 30px;
  }
  
  .footnote {
    font-size: 14px;
    line-height: 20px;
  }

  .container {
    padding: inherit;
  }

  .header-container {
    height: 80px;
  }

  .content-inner {
    padding-right: 32px;
  }

  .wave-logo {
    width: 88px;
    padding-top: 12px;
  }
  
  .support-button {
    color: white;
    padding: 12px 24px;
    border-radius: 14px;
    font-size: 16px;
  }

  .hero-image {
    width: 95%
  }

}

@media (min-width: 1200px) {

  .hero-image {
    width: 80%;
  }

  .content-inner {
    padding-right: 24px;
  }

}

@media (min-width: 1400px) {

  .content-inner {
    padding-right: 112px;
  }

  .hero-image {
    width: 70%;
  }
}

@media (min-width: 1600px) {

  body {
    overflow: hidden;
  }

  h1 {
    font-size: 54px;
    line-height: 54px;
    letter-spacing: -2px;
    margin-bottom: 16px;
  }
  
  p {
    font-size: 22px;
    line-height: 32px;
  }
  
  .footnote {
    font-size: 16px;
    line-height: 24px;
  }

  .main-container {
    min-height: 1000px;
  }

  .content-inner {
    padding-right: 72px;
  }

  .hero-image {
    width: 85%;
    padding-left: 16px
  }

  .header-container {
    height: 96px;
  }

  .support-button {
    padding: 12px 24px;
    border-radius: 14px;
    font-size: 16px;
  }

  .wave-logo {
    width: 104px;
    padding-top: 12px;
  }

}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  .background {
    background: #161616;
  }
} */